input[type="date"] {
   padding: 2px;
}


.calendar-input {
   max-width: 85px;
   border-radius: 5px;
   border: 2px solid var(--onyx);
   background-color: var(--lavender-blush);
   box-shadow: 2px 2px var(--onyx);
   font-size: 15px;
   font-weight: 600;
   color: var(--onyx);
   padding: 2px;
   margin: 3px;
   outline: none;
}


/* --onyx: #383d3bff;
--paynes-gray: #19647eff;
--moonstone: #359DAD;
--robin-egg-blue: #50d5dbff;
--non-photo-blue: #92dce5ff;
--silver: #D2D7D9;
--timberwolf: #DED5D8;
--lavender-blush: #eee5e9ff; */



.react-datepicker {
   font-family: 'Arial', sans-serif;
   border: 3px solid #000000;
   border-radius: 10px;
   background-color: var(--lavender-blush);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.react-datepicker__header {
   background-color: var(--non-photo-blue);
   border-bottom: 1px solid #000000;
}






.react-datepicker__day {
   background-color: var(--non-photo-blue);
   border-radius: 5px;
   color: var(--onyx);
}

.react-datepicker__day--disabled {
   color: var(--timberwolf);
   background-color: var(--lavender-blush);
   border-radius: 5px;
}

.react-datepicker__day--selected {
   background-color: var(--moonstone);
   border-radius: 5px;
   color: var(--onyx);
}

.react-datepicker__navigation {
   background-color: black;
}

