

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--silver);
    border-radius: 5px;
    border: 2px solid var(--onyx);
    box-shadow: 4px 4px var(--onyx);
    width: 260px;
    color: var(--onyx);
}


.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 5px 10px;
    flex-direction: column;
    align-items: center;
}



.date-display {
    margin-top: 10px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
}



.title button {
    font-size: 0.5em;
    padding: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--onyx);
    background-color: var(--lavender-blush);
    box-shadow: 4px 4px var(--onyx);
    font-size: 15px;
    font-weight: 600;
    color: var(--paynes-gray);
    padding: 5px 10px;
    outline: none;
}

.input:focus {
    border: 2px solid var(--moonstone);
}

.input::placeholder {
    color: var(--moonstone);
    opacity: 0.8;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 1em;
}

/* Hide the default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* The visual box */
.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid var(--onyx);
    border-radius: 5px;
    box-shadow: 4px 4px var(--onyx);
    transition: all 0.3s;
    position: relative;
    flex-shrink: 0;
    background-color: var(--lavender-blush);
}

/* Checkmark background when selected */
.checkbox-container input:checked+.checkmark {
    background-color: var(--paynes-gray);
}

/* The actual checkmark tick */
.checkmark::after {
    content: "";
    width: 5px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 6px;
    border: solid var(--lavender-blush);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
    display: none;
}

.checkbox-container input:checked+.checkmark::after {
    display: block;
}


.input-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.input-group input[type="radio"] {
    display: none;
}

.selected-btn {
    background-color: var(--paynes-gray);
    color: var(--lavender-blush);
    box-shadow: 2px 2px var(--onyx);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

}

.form-btn,
button {
    padding: 10px 10px;
    border: 2px solid var(--onyx);
    border-radius: 50px;
    background-color: var(--robin-egg-blue);
    box-shadow: 4px 4px var(--onyx);
    font-weight: bold;
    color: var(--onyx);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-variant: normal;
    font-size: .75em;
    -webkit-tap-highlight-color: transparent;


}

.input-group input[type="radio"]:checked+.form-btn {
    background-color: var(--paynes-gray);
    color: var(--lavender-blush);
    box-shadow: 2px 2px var(--onyx);

}

.button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    /*
    border: 2px solid var(--onyx); 
    background-color: var(--vanilla); 
    box-shadow: 4px 4px var(--onyx); 
    color: var(--onyx); 
    */
}

button:not(:disabled):active {
    background-color: var(--paynes-gray);
    color: var(--lavender-blush);
    box-shadow: 1px 1px var(--onyx);
    transition: none;
}


.meal-form,
.food-options,
.button-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}


#period {
    width: 80px;
}

.input,
input:not([type="radio"]) {
    background-color: var(--lavender-blush);
}
