#logo {
   height: 25vh;
   margin-top: 10px;
}

.header {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 25vh;
   margin-bottom: 15px;
}

p {
   margin: 5px;
   padding: 5px;
}



.user-display {
   position: absolute;
   top: 10px;
   /* distance from the top */
   left: 10px;
   /* distance from the left */
   z-index: 1000;
   /* make sure it's on top of other elements */
}


.home-btn {
   position: absolute;
   top: 25px;
   right: 25px;
   height: 50px;
   width: 65px;
   border-radius: 80%;
}