.input-visit {
    display: grid;
    gap: 10px;
}


.weather-hidden {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
}

.weather-visible {
    visibility: visible;
    height: auto;
    transition: all 0.3s ease;
}


.weather-input {
    max-width: 125px;
    border-radius: 5px;
    border: 2px solid var(--onyx);
    background-color: var(--lavender-blush);
    box-shadow: 2px 2px var(--onyx);
    font-size: 15px;
    font-weight: 600;
    padding: 2px;
    margin: 3px;
    outline: none;
}

.weather-input:focus {
    border: 2px solid var(--paynes-gray);
    box-shadow: 2px 2px var(--paynes-gray);

}